body {
  font-family: Libre Baskerville, serif;
  display: flex;
  margin: 0 auto;
  width: 1280px;
  font-size: .9rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}